.container {
    margin: 0 auto;
}

.header {
    z-index: 999;
    position: absolute;
    width: 100%;
}

.slider {
    position: relative;
}

.catalogy {
    padding: 15px;
}

.button {
    margin: 25px 0px;
    display: flex;
    justify-content: center;
}