@import '~bootstrap/scss/bootstrap';


@mixin make-container($padding-x: $container-padding-x) {
    width: 100%;
    padding-left: container-padding-x;
    padding-right: container-padding-x;
    margin-right: auto;
    margin-left: auto;
}

.container {
    @include make-container(980px);
}

.title {
    margin: 200px 0px;
}